<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Projects</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">GitHub repositories that I've built.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  <!-- Liquid control flow is used below to render each repo-card: -->

  <!-- Loop over repository names in repositories.yml -->
  {% for item in site.data.repositories %}

  <!-- Loop over repositories in my public_repositories -->
    {% for repository in site.github.public_repositories %}

    <!-- If the public repo name matches the name in the yml file, render repo-card -->
      {% if repository.name == item.name %}
        <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
          {% include repo-card.html %}
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
